player-connection-mode=Listen
player-connection-guid=3864311142
player-connection-debug=0
player-connection-project-name=Duaro
player-connection-ip=192.168.1.2
player-connection-ip=172.17.0.1
player-connection-ip=172.30.53.251
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
