player-connection-mode=Listen
player-connection-guid=370065983
player-connection-debug=0
player-connection-project-name=Duaro
player-connection-ip=172.26.19.35
player-connection-ip=172.17.0.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
